#canvas {
    color: #f895eb;
    border-radius: 25px;
    border: 5px solid #ac279b;
    height: 500px;
    width: 900px;
    margin-bottom: 2em;
}

#container {
    height: 100vh;
    width: 100vh;
}

#submit {
    background-color: #f895eb;
    border-radius: 4px;
}

#record {
    background-color: #f895eb;
    border-radius: 4px;
}

body {
    background-color: rgb(255, 122, 184);
}